rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Only allow users to read and write to their own document
    match /users/{userId} {
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      match /ideal_answers/{questionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /questions/{questionId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }

      match /evaluations/{evaluationId} {
        allow read, write: if request.auth != null && request.auth.uid == userId;
      }
    }
  }
}
